<div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{{dataValues.imagepath}}" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button onclick="location.href='/products/{{dataValues.id}}'"><i class="ti-search"></i></button></li>
                  <li><button class="add-to-cart" data-id="{{dataValues.id}}"><i class="ti-shopping-cart"></i></button></li>
                  <li><button><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{Category.dataValues.name}}</p>
                <h4 class="card-product__title"><a href="/products/{{dataValues.id}}">{{dataValues.name}}</a></h4>
                <p class="card-product__price">{{dataValues.price}}</p>
              </div>
            </div>